form {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
}

.contact-container{
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 80vh;
    justify-content: space-around;
}

.contact-submit {
  margin-top: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
