* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --blue: #1d3c56;
    --primary: #152A38;
    --secondary: #29435C;
    --teritary: #556E53;
    --text: #D1D4C9;
}

/*start of header styling*/
header {
    top: 0;
    bottom: inherit;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    margin: auto;
    background-color:var(--primary);
    z-index: 9999;
    position: sticky;
}

header h1 {
    width: 100%;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    float: inline-start;
}

header nav ul{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: left;
}

header nav ul a{
    padding: 15px 15px;
    color: var(--text);
    text-decoration: none;
}

header nav ul a:hover {
    font-style: italic;
}
/*end of header styling*/

/*start of intro styling*/
.intro{
    display: flex;
    justify-content: space-around;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 150px;
    position: relative;
    background-color: var(--secondary);
}

.intro-text{
    order: 1;
    color: beige;
    text-align: center;
    align-self: flex-end;
}


.intro-text h2{
    height: 50%;
    align-items: center;
    padding: 15%;
}

.intro-image{
    display: flex;
    background-color: var(--secondary);
    align-items: center;
}

.intro-image img{
    align-items: flex-end;
    height: 100%;
    border: 5px solid var(--teritary);
    border-radius: 50%;
}

p{
    font-size: 50px;
}