* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --blue: #1d3c56;
    --primary: #152A38;
    --secondary: #29435C;
    --teritary: #556E53;
    --text: #D1D4C9;
}

/*start of header styling*/
header {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    background-color:var(--primary);
    z-index: 9999;
    position: sticky;
}

header h1 {
    flex-basis: 100%;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

header nav {
    float: inline-start;
}

header nav ul{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: left;
}

header nav ul a{
    padding: 15px 15px;
    color: var(--text);
    text-decoration: none;
}

header nav ul a:hover {
    font-style: italic;
}
/*end of header styling*/

/*start of about me*/
.about-me{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--secondary);
    align-items: center;
    border-bottom: 2px solid var(--primary);
}


.about-me-image{
    display: flex;
    flex-basis: 50%;
    background-color: var(--secondary);
    justify-content: center;
}

.about-me-image img{
    height: 200px;
    border: 5px solid var(--teritary);
    border-radius: 50%;
}

.bio{
    flex-basis: 50%;
    padding: 5%;
    background-color: var(--secondary);
    color: var(--text);
}

.bio-title{
    font-size: xx-large;
    padding: 1% 0;
    width: 10rem;
}

.bio-content{
}

/*Start work style*/
.work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--teritary);
    height: 750px;
}

.work-title{
    text-align: right;
    width: 30%;
    flex-basis: 15%;
    padding: 0 1%;
    color: var(--text);
    border-right: 2px solid var(--primary);
    background-color: var(--secondary);
    font-size: xx-large;
}

.work-list{
    flex-basis: 70%;
    color: var(--text);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project{
    flex-basis: 50%;
    height: 50%;
    margin-top: 1%;
}

.project:hover{
    background-color: rgb(0, 0, 0, .5);
}

.project img{
    width: 100%;
    height: 100%;
}

.project h3{
    display: flex;
    background-color: var(--secondary);
    align-self: center;
    width: auto;
    box-sizing: content-box;
    align-self: flex-end;
}

.main{
    flex-basis: 100%;
}

/*Start of footer*/
.contact{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--primary);
    color: var(--text);
    padding: 2%;
}

.contact-title{
    font-size: xx-large;
}

.contact-list{
    margin-left;
}

.contact-list li{
    padding: 1%;
    list-style: none;

}

.contact-list li a{
    color: var(--text);
    text-decoration: none;
}

@media screen and (min-width: 767px){
    .about-me{
        background-color: var(--teritary);
    }
}


/*sizing for phone*/
@media screen and (max-width: 575px) {
    header{
        display: flex;
        justify-content: center;
    }

    header h1 {
        flex-basis: auto;
        text-align: center;
    }

    .about-me{
        display: flex;
        flex-direction: column;
    }    

    .bio{
        flex-basis: auto;
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

    .bio-title{
        font-size: 48px;
        text-align: center;
        justify-self: center;
    }

    .work{
        flex-direction: column;
        justify-content: flex-start;
        height: fit-content;
    }

    .work-title{
        display: flex;
        align-self: flex-start;
        width: 100%;
        border-right: none;
        justify-content: center;
        border-top: 2px solid var(--primary);
    }

    .work-title h2{
        align-self: center;
    }

    .work-list{
        justify-self: center;
    }

    .project{
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        background-color: var(--secondary);
        margin: 5% 5%
    }

    .project img{
        margin-top: 5%;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}