:root{
  --primary-color: #2b2d42;
  --secondary-color: #8d99ae;
  --teritiary-color: #8B8804;
  --background-color: #1F1F1F;
}

*{
  /* box-sizing: border-box; */
  /* background-color: var(--background-color); */
  color: var(--secondary-color);
  /* background-color: black; */
}

html{
  height: 100%;
  /* background-image: url("../src/assets/background/space-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

body{
  height: 100%;
  background-image: url("../src/assets/background/Blueprint.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1F1F1F;
  font-family: "Indie Flower";
}

a{
  color: var(--teritiary-color)
}

a:hover{
  color:black
}

main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2 50%;
}

h1{
  color: var(--teritiary-color);
}

h2{
  font-family: "Permanent Marker";
  color: var(--teritiary-color);
}

#body{
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* MEDIA QUERY */
@media (max-width: 767px) {
  .about-me-text{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5%;
  }

  .card{
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
  }
}