nav{
    flex: 1 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
.nav{
    align-items: end;
    justify-content: space-between;
}

.nav-container {
    width: 50%;
    height: 100vh;
    background-color: rgba(0, 168, 255, .3);
}

.nav-upper{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.nav-tabs-container{

}

.nav-tabs{
    width: 100%;
    justify-content: space-between;
}

.nav-link{
    color: var(--teritiary-color);
    margin-left: 15vh;
    margin-right: 15vh;
    font-weight: bold;
    font-size: large;
}

.nav-link.active {
    background-color: rgba(0,0,0,0.5);
    color: var(--secondary-color);
    font-weight: bolder;
}

.nav-link:hover{
    color: black;
}

.nav-div{
    display: flex;
}

.nav-list{
    list-style-type: none;
    padding: 0;
}

.nav-upper{
    margin-top: 10vh;
}

.myName{
    font-family: "Permanent Marker";
}

.myTitle{
    font-family: "Indie Flower";
}

.headshot{
    border-radius: 50%;
    width: 25%
}